.shadow {
  -webkit-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}
body {
  background-image: url('/img/bg.jpg');
  overflow-y: scroll;
}
footer {
  margin-bottom: 10px;
}
.content img.thumbnail {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .span4.offset8 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
}
.well {
  background-color: white;
}
a:hover {
  text-decoration: none;
}
.main {
  background-color: white;
}
.main small {
  color: #999999;
}
.main .content {
  margin-top: 10px;
}
.span4.offset8 {
  margin-left: 860px;
}
.minor {
  background-color: white;
}
.minor li i {
  font-size: 18px;
  vertical-align: middle;
}
.minor h3 {
  color: #d05d2a;
}
.minor.ads {
  text-align: center;
  padding: 10px;
}
[class^="icon-"].font {
  background-image: none !important;
}
h2 a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-share small {
  vertical-align: top;
}
.social-share .tweet {
  display: inline;
}
.social-share .plusone {
  display: inline;
}
.more {
  padding: 10px 0;
  font-weight: bold;
}
img.center {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side-ads {
  margin-bottom: 20px;
  min-height: 250px;
  background-color: white;
}
