---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="social-share"><small>{{ page.date | date: "%d %B %Y" }}</small>&nbsp;&nbsp;&nbsp;
  <div class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dreamandme.com{{ page.url}}" data-text="{{ page.title }}">Tweet</a></div>
  <div class="g-plusone" data-size="medium"></div>
</div>

<div class="content">
{{ page.content | markdownify}}
</div>
<br />
<small>Filed under {{ page.categories | category_links }}</small>
<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'dream-and-me';
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
